.display
    height: 85vh

.clock-display
    height: 100%
    display: flex
    // display: none
    align-items: center
    justify-content: center
    .clock
        font-family: digital
        color: white
        font-size: 10vw
        width: 100%
        text-align: center
        color: white
        text-shadow: 0 0 8px purple, 0 0 8px purple
        animation: flicker 1.5s infinite alternate
        letter-spacing: 1.5vw
    .calendar
        font-size: 2vw
        font-family: digital
        letter-spacing: 0.8vw
        width: 100%
        text-align: center
        color: white
        text-shadow: 0 0 8px purple, 0 0 8px purple
        animation: flicker 1.5s infinite alternate
    .local
        font-size: 1.5vw
        letter-spacing: 0.5vw
        width: 100%
        text-align: center
        color: white
        text-shadow: 0 0 8px purple, 0 0 8px purple

.alarm-display
    height: 100%
    position: relative
    overflow: hidden
    display: none
    .set-btn,
    .cancel-btn
        width: 20%
        height: 6vh
        position: absolute
        left: 50%
        transition: 0.5s ease
        transform: translate(-50%)
        margin-top: 3vh
        &:hover
            background-color: $dark-pink
    .cancel-btn
        top: 10%
        display: none

    .set-time-div
        height: 6vh
        position: absolute
        left: 50%
        top: -20%
        transform: translate(-50%)
        margin-top: 3vh

        .alarm-name
            height: 100%
            background-color: transparent
            border: 1px solid white
            color: white
            font-size: 1.3vw
            text-align: center
            border-radius: 50px 0 0 50px
        .alarm-time
            height: 100%
            padding: 1vw
            letter-spacing: 0.3vw
            background-color: transparent
            border: 1px solid white
            color: white
        .alarm-valid
            height: 100%
            padding: 1vw
            background-color: transparent
            border: 1px solid white
            color: white
            &:hover
                background-color: $dark-pink
        .alarm-cancel
            height: 100%
            padding: 1vw
            background-color: transparent
            border: 1px solid white
            color: white
            border-radius: 0 50px 50px 0
            &:hover
                background-color: black
    .all-alarms
        width: 40%
        height: 80%
        position: absolute
        left: 50%
        transform: translate(-50%)
        top: 15%
        overflow-x: hidden
        overflow-y: auto
        .tach
            width: 100%
            height: 10vh
            padding: 2vh
            border-bottom: 1px solid gray
            display: flex
            align-items: center
            justify-content: space-around
            transition: 0.5s ease
            position: relative

            .tach-time
                color: #9329d4
            .tach-name
                width: 45%
            .toggle
                width: 15%
                background-color: $dark-pink
                height: 4vh
                // border: 0.5px solid white
                cursor: pointer
                transition: 0.5s ease
                display: flex
                align-items: center
                justify-content: center
                font-size: 0.8vw
                &:hover
                    border: 1px solid white
                    background-color: indigo
                    color: white
.world-display
    height: 98%
    width: 100%
    overflow-y: auto
    display: none
    align-items: center
    justify-content: center
    flex-direction: column
    .worldetable-header
        width: 100%
        height: 10%
        border-bottom: 1px solid gray
    .othertimezonediv
        width: 100%
        height: 15%
        border-bottom: 1px solid purple
        color: white
        display: flex
        align-items: center
        text-shadow: 0 0 8px purple, 0 0 8px purple
        justify-content: space-around
        letter-spacing: 0.3vw
        div
            width: 33%
            text-align: center
.stopwatch-display
    height: 100%
    position: relative
    overflow: hidden
    display: none
    // display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    .stopwatch-timer
        font-family: digital
        color: white
        font-size: 7vw
        width: 100%
        text-align: center
        color: white
        text-shadow: 0 0 8px purple, 0 0 8px purple
        letter-spacing: 1.3vw
    .watch-lap
        font-family: digital
        color: white
        font-size: 1.5vw
        width: 100%
        text-align: center
        color: white
        text-shadow: 0 0 8px purple, 0 0 8px purple
        letter-spacing: 0.3vw
    .lape-div
        height: 50%
        width: 40%
        overflow-y: auto
        font-family: digital

        .lape-header
            height: 10%
            width: 100%
            border-bottom: 1px solid white
        .lape
            height: 20%
            border-bottom: 1px solid gray
            color: white
            display: flex
            align-items: center
            justify-content: space-around
            letter-spacing: 0.3vw

    .stopwatch-pannel
        height: 15%
        width: 50%
        display: flex
        align-items: center
        justify-content: space-evenly
        .start-stopwatch,
        .stop-stopwatch,
        .resume-stopwatch
            width: 30%
            height: 80%
            background-color: indigo
            border: 1px solid white
            color: white
            font-weight: bold
            &:hover
                background-color: indianred
        .stop-stopwatch
            background-color: #941919
        .reset-stopwatch,
        .lap-stopwatch
            width: 30%
            height: 80%
            background-color: wheat
            border: 1px solid white
            font-weight: bold
            &:hover
                background-color: indianred
.timer-display
    height: 100%
    position: relative
    overflow: hidden
    display: none
    // display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    .timer-pannel
        input
            width: 30vw
            height: 50vh
            text-align: center
            font-size: 5vw
            background-color: transparent
            color: white
            border: 3px solid purple
    .start-timer
        width: 15%
        position: relative
        overflow: hidden
        &:hover
            background-color: $dark-pink
        .timeline
            width: 100%
            height: 100%
            background-color: indianred
            position: absolute
            top: 0
            left: 0
            display: none
@media screen and (max-width:425px)
    .display
        height: 40rem
    .clock-display
        height: 100%
        .clock
            font-size: 20vw
            width: 100%
            letter-spacing: 1.5vw
        .calendar
            font-size: 5vw
            width: 100%
        .local
            font-size: 4vw
            letter-spacing: 0.5vw
            width: 100%
    .alarm-display
        height: 100%
        .set-btn,
        .cancel-btn
            width: 50%
            height: 3rem
            position: absolute
            left: 50%
            transition: 0.5s ease
            transform: translate(-50%)
            margin-top: 1.5rem
            &:hover
                background-color: $dark-pink
        .cancel-btn
            top: 10%
            display: none

        .set-time-div
            width: 100%
            height: 3rem
            top: -20%
            .alarm-name
                height: 100%
                width: 35%
                background-color: transparent
                border: 1px solid white
                color: white
                font-size: 3vw
                text-align: center
                border-radius: 50px 0 0 50px
                &:focus
                    border: none
            .alarm-time
                height: 100%
                width: 20%
                padding: 1vw
                letter-spacing: 0.3vw
                background-color: transparent
                border: 1px solid white
                color: white
            .alarm-valid
                height: 100%
                width: 25%
                padding: 1vw
                background-color: transparent
                border: 1px solid white
                color: white
                &:hover
                    background-color: $dark-pink
            .alarm-cancel
                height: 100%
                width: 20%
                padding: 1vw
                border: 1px solid white
                color: white
                border-radius: 0 50px 50px 0
                &:hover
                    background-color: black
        .all-alarms
            width: 100%
            height: 80%
            .tach
                width: 100%
                height: 5rem
                padding: 1rem
                .tach-name
                    width: 45%
                .toggle
                    width: 20%
                    height: 2rem
                    transition: 0s ease
                    font-size: 3vw
                    &:hover
                        border: 1px solid white
                        background-color: indigo
                        color: white
    .world-display
        .othertimezonediv
            width: 100%
            height: 15%
            letter-spacing: 0.2vw
            div
                width: 33%
                border-left: 1px solid purple
                border-right: 1px solid purple
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                text-align: center
                font-size: 3vw
    .stopwatch-display
        .stopwatch-timer
            font-family: digital
            color: white
            font-size: 15vw
            letter-spacing: 1.3vw
        .watch-lap
            font-family: digital
            color: white
            font-size: 6vw
        .lape-div
            height: 50%
            width: 100%
            overflow-y: auto
            font-family: digital
            .lape-header
                height: 10%
                width: 100%
                border-bottom: 1px solid white
            .lape
                height: 20%
        .stopwatch-pannel
            height: 15%
            width: 100%
            .start-stopwatch,
            .stop-stopwatch,
            .resume-stopwatch
                width: 40%
                height: 50%
            .reset-stopwatch,
            .lap-stopwatch
                width: 40%
                height: 50%
    .timer-display
        .timer-pannel
            input
                width: 50vw
                height: 12rem
                text-align: center
                font-size: 20vw
                &:focus
                    outline:1px solid transparent
        .start-timer
            width: 40%
            .timeline
                width: 100%
                height: 100%
                background-color: indianred
                position: absolute
                top: 0
                left: 0
                display: none

